{% extends "layouts/base.njk" %}
{% block body %}
    <section class="md:min-h-[700px] lg:min-h-[900px] pt-20 lg:pt-32 px-12" style="background: url('/img/Astronaut-Spec.jpg') no-repeat;background-size: cover;">
        <div class="p-container">
            <h1 class="text-brand-primary">OOPS!</h1>
            <p class="text-p24 lg:text-p40 font-semibold" style="max-width: 488px;">Looks like the page you’re looking for is lost in space.</p>
            <div class="flex flex-wrap gap-5 pt-8">
                <a href="/" class="btn">Go Back Home</a>
                <a href="/contact-us/" class="btn btn-light ">Contact Us</a>
            </div>
        </div>
    </section>
{% endblock %}