<!doctype html>
<html lang="en">
    <head>
        {% include "partials/head.njk" %}
    </head>
    <body>
        {%- block header %}{% endblock -%}
        {%- block main %}
            <div class="structure">
                <main>
                    {%- block body %}{{ contents | safe }}
                    {% endblock -%}
                </main>
                {% include "partials/sidebar.njk" %}

            </div>
            {% include "partials/footer.njk" %}
        {% endblock -%}
        {%- block footerJs %}{% endblock -%}
        <script>
            function mail2() {
                const domain = 'slapthink.net'
                const user = 'contact'
                window.location.href = `mailto:${user}@${domain}`;
            }
        </script>
    </body>
</html>