{% extends "layouts/base.njk" %}
  {%- block header %}
    <div class="home">
        {% include "partials/header.njk" %}
    </div>
 {% endblock -%}
{% block body %}
    <div class="prose leadin">
        {{ content | safe }}
    </div>
    <section>
        {% include "partials/sites.njk" %}
    </section>
    <br> <br> <br>
    <br> <br> <br>
     <section>
        <h2>Things I know/use/enjoy</h2>
        <ul class="things">
            {% set things = [
                {
                    name: "CSS",
                    icon: "CSS3.svg"
                }, 
                {
                    name: "HTML",
                    icon: "HTML5.svg"
                }, 
                {
                    name: "Javascript",
                    icon: "JavaScript.svg"
                }, 
                 {
                    name: "PHP",
                    icon: "PHP.svg"
                }, 
                 {
                    name: "MySQL",
                    icon: "MySQL.svg"
                }, 
                 {
                    name: "Node",
                    icon: "Node.js.svg"
                }, 
                 {
                    name: "Git",
                    icon: "Git.svg"
                },
                {
                    name: "Vue",
                    icon: "Vue.js.svg"
                }, 
                {
                    name: "Wordpress",
                    icon: "WordPress.svg"
                }, 
                 {
                    name: "Craft CMS",
                    icon: "CraftCms.svg"
                }, 
                {
                    name: "Docker",
                    icon: "Docker.svg"
                }, 
               
                {
                    name: "VS Code",
                    icon: "VS-Code.svg"
                }, 
                {
                    name: "Tailwind",
                    icon: "Tailwind-CSS.svg"
                }, 
                {
                    name: "React",
                    icon: "React.svg"
                }, 
                {
                    name: "Nginx",
                    icon: "NGINX.svg"
                }, 
                {
                    name: "Jamstack",
                    icon: "Jamstack.svg"
                }, 
                {
                    name: "Eleventy",
                    icon: "Eleventy-(11ty).svg"
                }, 
                {
                    name: "Bash",
                    icon: "Bash.svg"
                }, 
                {
                    name: "Sketch",
                    icon: "Sketch.svg"
                }, 
                {
                    name: "Adobe CC",
                    icon: "Adobe-Creative-Cloud.svg"
                }
            ] 
            %}
            {% for thing in things | sort(false, false, 'name') %}
                <li>
                    {% include "svg/icons/" + thing.icon %}
                    {{thing.name}}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}