@import "../../node_modules/@csstools/normalize.css/normalize.css";

:root {
    --font-copy: "IBM Plex Sans", sans-serif;
    --font-display: "IBM Plex Sans Condensed", sans-serif;
    --brand-dark: #47383e;
    --brand-primary: #7cc0c8;
    --brand-accent: #edd2a5;
    --brand-secondary: #c16151;
    --brand-light: #a5a5a4;
}

body {
    font-family: var(--font-copy);
    line-height: 1.2;
    letter-spacing: 0.02rem;
    color: var(--brand-light);
    background-color: #21181c;
    width: min(960px, 100% - 4rem);
    margin: auto;
    padding-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}

p {
    line-height: 1.5;
}

h1 {
    color: var(--brand-secondary);
    display: inline-block;
    text-transform: uppercase;

    svg {
        display: block;
        max-width: 430px;
    }
}
h2{
    font-weight: bold;
    font-size: clamp(18px, 8vw, 24px);
    color: var(--brand-primary);
}
.current-color {
    fill: currentColor;
}

.structure {
    display: grid;
    grid-template-columns: 1fr;
    gap: min(20vw, 30px);
    position: relative;
    z-index: 20;
}
aside {
    margin: min(20vh, 50px) 0 0;

    & h4 {
        color: var(--brand-primary);
    }
}
.leadin{
    padding-block-end: 4rem;
    padding-block-start: 2rem;
}
.links {
    & a {
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }
    & svg {
        fill: var(--brand-secondary);
    }
}
nav ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 0.68rem;
    list-style: none;

    & li {
        padding-block: 8px;
    }

    & a {
        text-decoration: underline;
        font-size:.85rem;
    }

    & strong {
        display: block;
        font-size:1rem;
        
    }
}

.hidden {
    display: none;
}

footer {
    font-size: 11px;
    padding-block-start: 100px;
    padding-block-end: 25px;
    color: hsl(336, 12%, 35%);
}

a,
a:link,
a:visited {
    color: var(--brand-accent);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sites-container{
    margin-block-start: calc(1rem + 5vw);
}
.sites{
    display: grid;
    gap: clamp(1.5rem, 5vw, 3rem);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));

    & a{
        text-decoration: none;
    }
}
.site-card{
    transition: transform .18s ease;
    position: relative;
    text-align: center;
}
.site-card:hover{
    transform: scale(1.05) rotate(-1deg);
}
.site-card img{
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    border-radius: .68rem;
    border:1px solid rgba(60,60,60,.5)
}

.things{
    list-style: none;
    padding:0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: min(1rem, 10px);
    
    & li{
        --border-color: color-mix(in oklab, black 15%, var(--brand-dark));
        margin: 0;
        padding: min(8px, 5vw);
        flex: 1;
        min-width: 50px;
        border:1px solid var(--border-color);
        border-radius: min(9px, 4vw);
        font-size: 11px;
        background-color: #131313;
    }
    & svg{
        width: 70%;
        aspect-ratio: 1/1;
        display: block;
        margin: auto;
        margin-block-end: 5px;
    }

}
@media (width >= 1024px) {
    .structure {
        grid-template-columns: 1fr minmax(150px, 25%);
        gap: min(20vw, 150px);
    }
    aside {
        padding: min(2rem, 2vw);
        background-color: #1d1217;
        background: linear-gradient(#1d1217 0%, #1d121718 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}
