<footer>
    &copy; Brian Matthews from the start of time until the end of {{ website.currentYear }}. All Rights Reserved.
</footer>
{% include "partials/schema.njk" %}
{% include "partials/footer-scripts.njk" %}