<meta charset="UTF-8"/>
<title>{{ seo.title if seo.title else title }}</title>
<meta name="author" content="Brian Matthews">
<link rel="stylesheet" href="/style.css">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% include "partials/seo-graph.njk" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@300;400;600&display=swap" rel="stylesheet">