{%- if not canonical -%}
{% set canonical = 'https://slapthink.net' + page.url %}
{%- endif -%}
<link rel="canonical" href="{{ canonical }}">
<meta name="description" content="{{ seo.description if seo.description else 'Brian Matthews - Full stack developer' }}">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{seo.description}}">
<meta property="og:url" content="{{ canonical }}">
{#<meta property="og:image" content="{% openGraphScreenshotURL %}">#}
{% if private or seo.noindex %}<meta name="robots" content="noindex, nofollow">{% endif%}